.botmenu {
    display: flex;
    justify-content: center; 
    background-color: #f8f8f8; 
    height: 40px; /* Match the divider height */
    align-items: center;
    z-index: 9999;
    margin: 0 auto; /* This centers the feed horizontally */
}

.nav-button {
    margin: 0 5px;
    /* width: auto; /* Let the button size be determined by its content */
}
